<div class="container">
    <div class="page-header">
        <h3>Book's details</h3>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{book.name}}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{book.author}}</td>
        </tr>
        <tr>
            <th>Year of publishing</th>
            <td>{{book.year_of_publishing}}</td>
        </tr>
        <tr>
            <th>Number of pages</th>
            <td>{{book.number_of_pages}}</td>
        </tr>
        </tbody>
    </table>
</div>